<%= render 'formReadTweet' %>


<p>
<% Twitter.status(344583043593428992).to_json %>

<% jTweet = JSON.parse(Twitter.status(344583043593428992).to_json) %>

<table border="1" background="<%= jTweet['user']['profile_background_image_url'] %>">
<tr>
	<td><%= image_tag(jTweet['user']['profile_image_url'], :size => "200x150") %></td>
	<td><%= jTweet['user']['name'] %></td>
</tr>
<tr>
	<td>
		<%= jTweet['text'] %><br />
		<%= jTweet['user']['created_at'] %>
	</td>
</tr>

</table>

<br />



</p>



